web/WEB-INF/wsdl/localhost_40151/ServiciesUser/ServiceUser.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServicies/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServicies/" name="ServiceUser">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServicies/" schemaLocation="http://localhost:40151/ServiciesUser/ServiceUser?xsd=1"/>
</xsd:schema>
</types>
<message name="Consulta">
<part name="parameters" element="tns:Consulta"/>
</message>
<message name="ConsultaResponse">
<part name="parameters" element="tns:ConsultaResponse"/>
</message>
<message name="Crear">
<part name="parameters" element="tns:Crear"/>
</message>
<message name="CrearResponse">
<part name="parameters" element="tns:CrearResponse"/>
</message>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar"/>
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse"/>
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar"/>
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse"/>
</message>
<message name="ValidarExiste">
<part name="parameters" element="tns:ValidarExiste"/>
</message>
<message name="ValidarExisteResponse">
<part name="parameters" element="tns:ValidarExisteResponse"/>
</message>
<message name="ObtenerUsuario">
<part name="parameters" element="tns:ObtenerUsuario"/>
</message>
<message name="ObtenerUsuarioResponse">
<part name="parameters" element="tns:ObtenerUsuarioResponse"/>
</message>
<portType name="ServiceUser">
<operation name="Consulta">
<input wsam:Action="http://WebServicies/ServiceUser/ConsultaRequest" message="tns:Consulta"/>
<output wsam:Action="http://WebServicies/ServiceUser/ConsultaResponse" message="tns:ConsultaResponse"/>
</operation>
<operation name="Crear">
<input wsam:Action="http://WebServicies/ServiceUser/CrearRequest" message="tns:Crear"/>
<output wsam:Action="http://WebServicies/ServiceUser/CrearResponse" message="tns:CrearResponse"/>
</operation>
<operation name="Actualizar">
<input wsam:Action="http://WebServicies/ServiceUser/ActualizarRequest" message="tns:Actualizar"/>
<output wsam:Action="http://WebServicies/ServiceUser/ActualizarResponse" message="tns:ActualizarResponse"/>
</operation>
<operation name="Eliminar">
<input wsam:Action="http://WebServicies/ServiceUser/EliminarRequest" message="tns:Eliminar"/>
<output wsam:Action="http://WebServicies/ServiceUser/EliminarResponse" message="tns:EliminarResponse"/>
</operation>
<operation name="ValidarExiste">
<input wsam:Action="http://WebServicies/ServiceUser/ValidarExisteRequest" message="tns:ValidarExiste"/>
<output wsam:Action="http://WebServicies/ServiceUser/ValidarExisteResponse" message="tns:ValidarExisteResponse"/>
</operation>
<operation name="ObtenerUsuario">
<input wsam:Action="http://WebServicies/ServiceUser/ObtenerUsuarioRequest" message="tns:ObtenerUsuario"/>
<output wsam:Action="http://WebServicies/ServiceUser/ObtenerUsuarioResponse" message="tns:ObtenerUsuarioResponse"/>
</operation>
</portType>
<binding name="ServiceUserPortBinding" type="tns:ServiceUser">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Consulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Crear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValidarExiste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceUser">
<port name="ServiceUserPort" binding="tns:ServiceUserPortBinding">
<soap:address location="http://localhost:40151/ServiciesUser/ServiceUser"/>
</port>
</service>
</definitions>