web/WEB-INF/wsdl/localhost_40151/ServiciesUser/ServiceUser.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServicies/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServicies/">

<xs:element name="Actualizar" type="tns:Actualizar"/>

<xs:element name="ActualizarResponse" type="tns:ActualizarResponse"/>

<xs:element name="Consulta" type="tns:Consulta"/>

<xs:element name="ConsultaResponse" type="tns:ConsultaResponse"/>

<xs:element name="Crear" type="tns:Crear"/>

<xs:element name="CrearResponse" type="tns:CrearResponse"/>

<xs:element name="Eliminar" type="tns:Eliminar"/>

<xs:element name="EliminarResponse" type="tns:EliminarResponse"/>

<xs:element name="ObtenerUsuario" type="tns:ObtenerUsuario"/>

<xs:element name="ObtenerUsuarioResponse" type="tns:ObtenerUsuarioResponse"/>

<xs:element name="ValidarExiste" type="tns:ValidarExiste"/>

<xs:element name="ValidarExisteResponse" type="tns:ValidarExisteResponse"/>

<xs:complexType name="Crear">
<xs:sequence>
<xs:element name="idRole" type="xs:short"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="active" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerUsuario">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ObtenerUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar">
<xs:sequence>
<xs:element name="idUser" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizar">
<xs:sequence>
<xs:element name="idUser" type="xs:short"/>
<xs:element name="idRole" type="xs:short"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="active" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarExiste">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarExisteResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consulta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="active" type="xs:unsignedShort"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="idRol" type="xs:short"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>